.header {
    margin: auto;
    padding: 10px;
    border-top: green;
    width: 80%;

}
.headerItem {
    list-style-type: none;
    display: inline-block;  
}

.parent {
    border-left: 1px solid rgb(206, 206, 209);
    border-right: 1px solid rgb(206, 206, 209);
    width: 80%;
    margin: auto;
}

.child1 {
    vertical-align:top;
    display: inline-block;
    border-right: 1px solid rgb(206, 206, 209);
    padding: 4px;
    width: 50%
} 
.child2 {
    vertical-align:top;
    display: inline-block;
    padding: 4px;
    width: 18%
} 
.child3 {
    vertical-align:top;
    display: inline-block;
    width: 30%;
} 
.child4 {
    vertical-align: top;
    display: inline-block;
    padding: 4px;
    width: 30%;
} 
.child5 {
    padding-right: 0;
    margin-right: 10px;
    display: inline;
}

img {
    display: block;
    margin: 5px;
    height: auto;
    width: 95%;
}

.worldCup {
    padding: 2px;
    margin: 1px;
    background: #d80000;
    color: white;
    text-decoration: none;
    font-size: 80%;
}

.text {
    /* text-decoration:none; */
    color: rgb(44, 39, 39);
    font-size: 90%;
    padding: 0;
}
.text1 {
    color: red;
    
}
.text2 {
    font-weight: bold;
    font-size: 20px;     
}
.text3 {
    font-weight: bold;
    text-decoration:none;
    color: rgb(77, 71, 71);
    padding: 0;   
}
.text4 {
    font-weight: bold;
    text-decoration:none;
    color: rgb(77, 71, 71);
    padding: 4px;   
}

.text5 {
    background: #fafafa;
    border-top: 3px solid  #007197;
    padding: 4px;
    text-decoration:none;
    color: #007197;
}
 .text6 {
    background: #fafafa;
    border-top: 3px solid  #008e00;
    padding: 4px; 
    text-decoration:none;
    color: #008e00;
 }
 .text7 {
    background: #fafafa;
    border-top: 3px solid  #ff6b00;
    padding: 4px; 
    text-decoration:none;
    color: #ff6b00;
 }
 .text8 {
    display: block;
    background: #fafafa;
    border-top: 3px solid  #FF0055;
    padding: 4px; 
    text-decoration:none;
    color: #FF0055;
 }
